.git
.github
.run-logs

**/.env
**/.env.*
!**/.env.example
!.env.render.example

backend/vendor
backend/node_modules
backend/public/hot
backend/public/storage
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*
backend/.phpunit.result.cache

frontend/node_modules
frontend/dist

*.log
*.tmp
Thumbs.db
.DS_Store
